/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 7fr 3fr;
    height: 100%;
}

.card_section {
    text-align: center;
}


#card_box {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1; 
    grid-row-end: 2;
}

.bottom {
    grid-row-start: 2;
    grid-row-end: 3;
}

#incorrect {
    grid-column-start: 1;
    grid-column-end: 2;
}

#turn_card_over {
    grid-column-start: 2;
    grid-column-end: 3;

}

#correct {
    grid-column-start: 3;
    grid-column-end: 4;

}

.navigate_card {
    height: 100%;
    width: 100%;
}