.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.card_section {
    text-align: center;
    border: 1px solid blue;
}

#card_box {
    grid-column-start: 1; 
    grid-column-end: 4;
    grid-row-start: 1; 
    grid-row-end: 3;
}

.navigate_card {
    width: 98;
    height: 98;
}